* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('../font/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('../font/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('../font/Roboto-Light.ttf'); /*URL to font*/
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #565656;
    opacity:  0.4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #565656;
   opacity:  0.4;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #565656;
   opacity:  0.4;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #565656;
    opacity:  0.4;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    /* prevent copy paste, to allow, change 'none' to 'text' */
	/* background-color:#53DCDF;*/
    background-color: #32978f;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:2.4vw;
    /*text-transform:uppercase;*/
    background: URL("../img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

button:focus { 
    outline:0 !important; 
}

ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

li:hover{
    background-color: aqua;
}

input{
    text-indent: 10px;
    background-color: #44c5c7; 
    color: white;
    border: 1px solid white;
    border-color:white;
    border-style: solid;
    
}

input:focus { 
    outline:0 !important; 
}

:-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    opacity:  0.4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  0.4;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  0.4;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
    opacity:  0.4;
}


.app {
/*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;                    
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:2.4vw;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Login Style*/
.content{
	position:absolute;
    height: 100%;
    width: 100%;
	
}

.backbuttonFrame{
    position: absolute;
    top: 1%;
	left: 4%;
    width: 46%;
    height: 9%;
	/*border-style: solid;
    border-width: 3px;*/
}

.backLogo{
    width: 28%;
    height: auto;
    display: inline-block;
}


.titlelogoframe{
    position: absolute;
    top: 1%;
	left: 4%;
	right: 4%;
    width: 92%;
    text-align: center;
	/*border-style: solid;
    border-width: 3px;*/
}

.titlelogo{
    width: 32%;
    height: 25%;
    text-align: center;
    display: inline-block;
}



.logoutbuttonFrame{
    position: absolute;
    top: 1%;
	right: 4%;
    width: 46%;
	/*border-style: solid;
    border-width: 3px;*/
}

.logoutLogo{
    width: 28%;
    height: auto;
	float: right;
	text-align: right;
    display: inline-block;
}

.appLogoFrame{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
	/*border-style: solid;
    border-width: 3px;*/
}

.appLogo{
    width: 40%;
    height: auto;
	display: none;
    /*display: inline-block;*/
}

.loginDetails{
    position: absolute;
    height: 40%;
    width: 100%;
    top: 50%;
    align-items: center;
	/*border-style: solid;
    border-width: 3px;*/
}


.loginTextBox{
	/* display: inline-block;*/
    position: absolute;
	top: 10%;
    left: 20%;
    height: 12%;
    width: 60%;
	/* margin: 0px 0px 0px 10%;*/
    background-color: #ffe680;
    font-family: "times new roman";
    font-size: 3vw;
    color:#565656;
    margin:0 0 0 0;
    padding:0 0 0 0;
	border-radius: 5px 5px 5px 5px;
	/* text-transform: uppercase;*/
}


.pwdTextBox{
	/* display: inline-block;*/
    position: absolute;
	top: 25%;
    left: 20%;
    height: 12%;
    margin:0 0 0 0;
    width: 60%;
    /* margin: 0px 0px 0px 10%; */
    background-color: #ffe680;
    font-family: "times new roman ";
    font-size: 3vw;
    color:#565656;
    padding: 0 0 0 0;
	border-radius: 5px 5px 5px 5px;
	/*text-transform: uppercase;*/
}


.copyrightbox{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 90%;
    align-items: center;
	/*border-style: solid;
    border-width: 3px;*/
}

.copyrighttext{
    position: absolute;
    width: 100%;
    text-align:center;
	font-size: 3vw;
    border: none;
    color: black;
    font-family: "times new roman";
}


.btnLogin{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    height: 15%;
    background-color: #F18D1B;
    width: 40%;
    font-size: 5.5vw;
    border: none;
    color: white;
    font-family: "Helvetica";
    margin:0 0 0 0;
    padding:0 0 0 0;
    align:center;
    border-radius: 5px 5px 5px 5px;
    /*box-shadow: 1px 1px 1px #ffaa00;*/
}

.btnLoginFB{
    position: absolute;
    left: 15%;
    top: 48%;
    height: 13%;
    background-color: transparent;
    width: 70%;
    font-size: 3vw;
    border: none;
    color: yellow;
    font-family: "times new roman ";
    margin:0 0 0 0;
    padding:0 0 0 0;
}

.btnLoginFB img{
    height: 100%;
    width: auto;
}

.buttonSeperator{
    color: white;
    font-family: "times new roman ";
    font-size: 3vw;
}

/* Login Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Menu Page Style start*/
.menuDetails{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 10%;
	bottom: 10%;
	left: 5%;
	right: 5%;
    align-items: center;
	/*border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #FFA500;*/
}

.menuItems{
    position: absolute;
    height: 20%;
    width: 70%;
    top: 40%;
	bottom: 40%;
	left: 15%;
	right: 15%;
	background-color:#F18D1B;
    align-items: center;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color:#F18D1B;
	color: white;
	font-size: 6.5vw;
    font-family: "Helvetica";
	
	box-shadow: 3px 3px 3px #585858;

}

/* Menu Page Style end*/


/* ------------------------------------------------------------------------------------*/
/* Leave Page Style start*/
.titleFrame{
    position: absolute;
    height: 8%;
    width: 100%;
    top: 14%;
	bottom: 10%;
	/*left: 5%;
	right: 5%;*/
    align-items: center;
    background-color:#ffaa00;
	/*border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #B0E0E6;*/
}

.headertext{
    position: absolute;
    width: 100%;
	height: 100%;
    text-align:center;
	align-items: center;
	font-size: 5vw;
    border: none;
    color: white;
    font-family: "Helvetica";
}


.approvalAllFrame{
    position: absolute;
    height: 8%;
    width: 50%;
    top: 24%;
	bottom: 10%;
	left: 25%;
	right: 25%;
    align-items: center;
	/*border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #FFA500;*/
}

.approvalAllItems{
    position: absolute;
    height: 80%;
    width: 90%;
    top: 10%;
	bottom: 10%;
	left: 5%;
	right: 5%;
	background-color:#5181E8;
    align-items: center;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color:#5181E8;
	color: white;
	font-size: 4vw;
    font-family: "times new roman";
	box-shadow: 1px 1px 1px #585858;

}


/*.secondtitleFrame{
    position: absolute;
    height: 6%;
    width: 90%;
    top: 22%;
	bottom: 10%;
	left: 5%;
	right: 5%;
    align-items: center;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #FFA500;
}



.secondheadertext{
    position: absolute;
    width: 100%;
    text-align:left;
	font-size: 3vw;
    border: none;
    color: black;
    font-family: "times new roman";
}*/


.leavelistFrame{
	position: absolute;
    height: 50%;
    width: 90%;
    top: 48%;
	bottom: 10%;
	left: 5%;
	right: 5%;
    align-items: center;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #FFA500;
	background-color: white;
}

